.homeTitle {
    margin: 1rem;
    text-align: center;    
}

.chipRow {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: scroll;  
    padding: 0 1rem;  
}

ion-chip {
    min-width: 80px;
    width: auto;
    margin: 0;
    justify-content: center;    
}

.therapistList {

}

.therapistItem {
    
}

.therapistItem ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.profileCard {
    
}

.profileHeader {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.profileTitle {
}

.profileName {
    color: white;
    font-size: 2rem;    
}

.profileSong {
    line-height: 2rem;
    color: white;
    font-weight: 900;
    font-size: .8rem;
}

.profileIntroduction {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.profileImgContainer {
    position: relative;
}

.profileCard ion-button {
    margin: 0 auto 0rem;
    display: block;
    background-color: #c0c0c012;  
}

