.homeTitle {
    margin: 1rem;
    text-align: center;    
}

.chipRow {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: scroll;  
    padding: 0 1rem;  
}

ion-chip {
    min-width: 80px;
    width: auto;
    margin: 0;
    justify-content: center;    
}

.therapistList {

}

.therapistItem {
    
}

.therapistItem ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.profileCard {
    
}

.profileImgLabel {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

}

.profileImgContainer {
    position: relative;
}

.profileCard ion-button {
    margin: 0 auto 0rem;
    display: block;
    background-color: #c0c0c012;  
}

